.button {
  text-align: center;
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  background-color: #333;
  border-radius: 50vh;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}
