.button {
  text-align: center;
  padding: 0.5rem 0.5rem;
  color: #333;
  background-color: white;
  border: 1px solid #333;
  border-radius: 50vh;
  text-transform: uppercase;
  font-size: 0.75rem;
  cursor: pointer;
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .button {
    font-size: 0.9rem;
  }
  .button:hover {
    color: white;
    background-color: #333;
  }
}
