.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 1rem;
  height: 50vh;
  width: 70vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5%;
  padding: 2rem;
}
.h2 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.ul {
  list-style: none;
}
.li {
  margin: 0.3rem 0;
}
.background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.itemInfo {
  display: flex;
  justify-content: space-between;
}
.controlQuantityButton {
  background-color: transparent;
  padding: 0 0.3rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}
.buttons {
  display: flex;
  gap: 0.5rem;
}
.price {
  font-size: 0.9rem;
  text-align: left;
  padding-left: 0.2rem;
}
